<div>


    <div>
        <table>
            <tr>
                <td>
                    <mat-form-field appearance="fill" style='width: 8rem;'>
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="john" [(ngModel)]='newPerson.fname'>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="fill" style='width: 8rem;'>
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="doe" [(ngModel)]='newPerson.lname'>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td colspan='2'>
                    <mat-form-field appearance="fill" style='width: 16rem;'>
                        <mat-label>Address</mat-label>
                        <input matInput placeholder="123 candy lane" [(ngModel)]='newPerson.addr'>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td colspan='2'>
                    <mat-form-field appearance="fill" style='width: 16rem;'>
                        <mat-label>City</mat-label>
                        <input matInput placeholder="North Pole" [(ngModel)]='newPerson.city'>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td colspan='2'>
                    <button mat-raised-button color='accent' class='maxwidth' (click)='createPerson()'>Create new person</button>
                </td>
            </tr>
        </table>
    </div>

    <br>
    <mat-divider></mat-divider>
    <br>

    <div>

        <table *ngIf='ldata.people.length > 1'>
            <tr>
                <th>ID</th>
                <th><button mat-raised-button (click)='sortBy(1)' class='maxwidth'>First</button></th>
                <th><button mat-raised-button (click)='sortBy(2)' class='maxwidth'>Last</button></th>
                <th><button mat-raised-button (click)='sortBy(3)' class='maxwidth'>Addr</button></th>
                <th><button mat-raised-button (click)='sortBy(4)' class='maxwidth'>City</button></th>
            </tr>
            <!-- <tr *ngFor='let item of ldata.people'>
                <td>{{item._id}}</td>
                <td>{{item.fname}}</td>
                <td>{{item.lname}}</td>
                <td>{{item.addr}}</td>
                <td>{{item.city}}</td>
            </tr> -->
            <tr *ngFor='let item of ldata.people'>
                <td>{{item._id}}</td>
                <td>
                    <mat-form-field>
                        <mat-label>First</mat-label>
                        <input matInput [(ngModel)]='item.fname'>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <mat-label>Last</mat-label>
                        <input matInput [(ngModel)]='item.lname'>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <mat-label>Address</mat-label>
                        <input matInput [(ngModel)]='item.addr'>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <mat-label>City</mat-label>
                        <input matInput [(ngModel)]='item.city'>
                    </mat-form-field>
                </td>
                <td>
                    <button mat-raised-button (click)='updatePerson(item)' color='primary'>Update</button>
                </td>
                <td>
                    <button mat-raised-button (click)='deletePerson(item)' color='warn'>Delete</button>
                </td>
            </tr>
        </table>
    </div>








</div>